*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	padding-top: 15px;
}
.clearfix::after{
	content: "";
	clear: both;
	display: block;
}
.header-logo img{
	padding: 20px;
	margin-left: 20px;
	width: 240px;
}
.contact{
	padding: 20px;
	float: right;
	font-weight: bold;
}
.contact label{
	display: block;
	font-size: 10px;
}
.contact .tel-namuber{
	font-size: 20px;
}
.contact .tel {
	float: left;
}
.contact .inquiry{
	float: left;
	line-height: 40px;
}
.header-logo{
	float: left;
}
header .contact .mail-btn{
	background-color: #f2a1bf;
	padding: 20px;
	color: white;
	margin-left: 15px;
	margin-right: 20px;
	border-radius: 10px;
	box-shadow: 0px 1px #000000;
}
.contact i{
	font-size: 20px;
}
.header-bottom{
	margin-top: 15px;
	margin-bottom: 20px;
}
.header-bottom .nav-list{
	float: left;
	text-align: center;
	width: 16.5%;
	border-right: 2px solid #d3d3d3;
}
.header-bottom i{
	font-size: 30px;
}
.header-bottom .news{
	color: #ffb3ff;
}
.header-bottom .about{
	color: #ffbf00;
}
.header-bottom .childcare{
	color: #99e600;
}
.header-bottom .information{
	color: #00e6e6;
}
.header-bottom .partner{
	color: #cc52cc;
}
.header-bottom .recruit{
	color: #998a99;
	border-right: none;
}
.header-bottom .nav-list span{
	display: block;
	color: #000000;
}
.nav-list .text{
	font-size: 10px;
	letter-spacing: 2px;
	font-weight: bold;
}
.main-visual{
	height: 650px;
	background-image:url(../img/main/image4.jpg);
	background-size:cover;
	background-position: bottom;
	position: relative;
}
.partner-recruit-information{
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 600px;
	right: 20px;
	background-color: white;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	border:3px solid pink;
}
.partner-recruit-information{
	color: pink;
}
.partner-recruit{
	font-size: 25px;
}
.rrr{
	padding-top: 60px;
}
.opening{
	border-bottom: 1px solid pink;
	position: relative;
  display: inline-block;
  margin-bottom: 1em;
}